* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  justify-items: center;
  align-items: center;
  background-color: black;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100vmin;
  width: 100vmin;
  justify-content: center;
  border: white 2px solid;
  align-items: center;
  justify-content: center;


}

.disableCaret {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

#home>h1 {
  font-size: 40px;
  color: aliceblue;





}

#home>h2 {
  color: aliceblue;
  border: aliceblue 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 10px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
}

#home>h2:hover {
  background-color: aliceblue;
  color: black;
  border: black 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 25px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;

}

#grid-container {

  display: none;
  grid-template-columns: 20vmin 25vmin 5vmin 10vmin 20vmin;
  grid-template-rows: 5vmin 10vmin 5vmin 5vmin 30vmin 5vmin;
  border: 1px black solid;
  border-radius: 2.5%;
  width: 80vmin;
  height: 60vmin;
  background-size: auto 60vmin;
  background-position-x: right;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(255, 47, 47, 1) 50%, rgba(252, 176, 69, 1) 100%);
  box-shadow: 0 0 50px 0 rgb(227, 186, 255);
  /* visibility: hidden; */


}

#grid-container-2 {

  display: none;
  grid-template-columns: 2.5vmin 25vmin 1vmin 10vmin 3vmin 10vmin 1vmin 25vmin 2.5vmin;
  grid-template-rows: 5vmin 10vmin 5vmin 5vmin 30vmin 5vmin;
  border: 1px black solid;
  border-radius: 2.5%;
  width: 80vmin;
  height: 60vmin;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  box-shadow: 0 0 50px 0 rgb(129, 253, 255);
  /* visibility: hidden; */


}

#p1_board {

  display: flex;
  grid-column: 2/3;
  grid-row: 2/6;
  border: 1px black solid;
  flex-wrap: wrap;




}

#p2_board {

  display: flex;
  grid-column: 8/9;
  grid-row: 2/6;
  border: 1px black solid;
  flex-wrap: wrap;

}

#p2_board>div {
  border: 1px white solid;
  height: 5%;
  width: 10%;


}

#p1_board>div {
  border: 1px white solid;
  height: 5%;
  width: 10%;


}

#p1_next {

  display: flex;
  grid-column: 4/5;
  grid-row: 2/3;
  border: 1px black solid;
  flex-wrap: wrap;


}

#p2_next {

  display: flex;
  grid-column: 6/7;
  grid-row: 2/3;
  border: 1px black solid;
  flex-wrap: wrap;


}

#p1_next>div {
  border: 1px white solid;
  height: 25%;
  width: 25%;


}

#p2_next>div {
  border: 1px white solid;
  height: 25%;
  width: 25%;


}


#end-screen-1 {
  
  display: none;
  flex-direction: column;
  grid-column: 1/6;
  grid-row: 1/7;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  justify-content: center;
  border: white 2px solid;
  align-items: center;
  height: 100%;
  width: auto;
  text-align: justify;
}
#end-screen-2 {
  
  display: none;
  flex-direction: column;
  grid-column: 1/10;
  grid-row: 1/7;
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  justify-content: center;
  border: white 2px solid;
  align-items: center;
  height: 100%;
  width: auto;
  text-align: justify;
}

#score {
  font-size: 30px;
  color: aliceblue;
  margin: 10%;


}

#play-again-1 {
  color: aliceblue;
  border: aliceblue 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 10px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
}

#play-again-1:hover {
  background-color: aliceblue;
  color: black;
  border: black 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 25px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
}
#play-again-2 {
  margin-top: 10%;
  color: aliceblue;
  border: aliceblue 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 10px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
}

#play-again-2:hover {
  background-color: aliceblue;
  color: black;
  border: black 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 25px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
}

#go-home-1 {
  color: aliceblue;
  border: aliceblue 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 10px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
  margin-top: 5%;
}

#go-home-1:hover {
  background-color: aliceblue;
  color: black;
  border: black 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 25px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
}
#go-home-2 {
  color: aliceblue;
  border: aliceblue 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 10px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
  margin-top: 5%;
}

#go-home-2:hover {
  background-color: aliceblue;
  color: black;
  border: black 1px solid;
  border-radius: 2.5%;
  box-shadow: 0 0 25px 0 rgb(227, 186, 255);
  padding: 2vmin 5vmin 2vmin 5vmin;
}


#board {

  display: flex;
  grid-column: 2/3;
  grid-row: 2/6;
  border: 1px black solid;
  flex-wrap: wrap;



}

#board>div {
  border: 1px white solid;
  height: 5%;
  width: 10%;


}

#next {

  display: flex;
  grid-column: 4/5;
  grid-row: 2/3;
  border: 1px black solid;
  flex-wrap: wrap;


}

#p1_score-game1 {

  display: flex;
  grid-column: 4/5;
  grid-row: 4/5;
  border: 1px black solid;
  flex-wrap: wrap;
  background-color: black;
  color: greenyellow;
  font-size: 3vmin;
  
  text-align: justify;


}

#p1_score-game2 {

  display: flex;
  grid-column: 4/5;
  grid-row: 4/5;
  border: 1px white solid;
  flex-wrap: wrap;
  background-color: black;
  color: greenyellow;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 3vmin;

}

#p2_score-game2 {

  display: flex;
  grid-column: 6/7;
  grid-row: 4/5;
  border: 1px white solid;
  flex-wrap: wrap;
  background-color: black;
  color: greenyellow;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 3vmin;


}

#next>div {
  border: 1px white solid;
  height: 25%;
  width: 25%;


}

#button-grid{
  display: none;
}


.empty {
  background-color: black;
}

.pink {
  background-color: rgb(255, 0, 242);
}

.red {
  background-color: rgb(255, 0, 0);
}

.blue {
  background-color: blue;
}

.orange {
  background-color: rgb(255, 153, 0);
}

.green {
  background-color: rgb(153, 255, 0);
}

.grey {
  background-color: rgb(0, 255, 200);
}

.yellow {
  background-color: rgb(251, 255, 0);
}

.hidden {}



@media only screen and (max-width: 600px) {
  #grid-container {

    display: none;
    grid-template-columns: 1vmin 25vmin 5vmin 10vmin 1vmin;
    grid-template-rows: 5vmin 10vmin 5vmin 5vmin 30vmin 5vmin;
    border: 1px black solid;
    border-radius: 2.5%;
    width: 42vmin;
    height: 6-vmin;
    background-size: auto 60vmin;
    background-position-x: right;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(255, 47, 47, 1) 50%, rgba(252, 176, 69, 1) 100%);
    box-shadow: 0 0 50px 0 rgb(227, 186, 255);
    /* visibility: hidden; */
  
  
  }
  #button-grid{
    display: grid;
    grid-template-columns: 14vmin 14vmin 14vmin;
    grid-template-rows: 14vmin 14vmin;
  }
  #up{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: auto;
  }
  #left{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: auto;
  }
  #down{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: auto;
  }
  #right{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: auto;
  }

  #home{
    height: 150vmin;
    width: 100vmin;
  }



}