*{
    box-sizing: border-box;
    
}

.container{
    display: grid;
    border-style: solid;
    border: 1px solid black;
    /* justify-content: center;
    /* align-items: center; 
    height: 100vh;
    align-items: baseline;     */
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 50px 600px 50px;
    grid-template-areas: 
        "title title title"
        "left-side board right-side"
        "controls home home";

}


#title{
    grid-area: title;
    background-color: aqua;
}
#left{
    grid-area: left-side;
    background-color: magenta;
    
}
#board{
    grid-area: board;
    background-color:black;
    height: 600px;
    width: 300px;
}
#right{
    grid-area: right-side;
    background-color: greenyellow;
    display: flex;
}
#next{
    width: 100px;
    height: 100px;
    
}
#controls{
    grid-area: controls;
    background-color: orange;

}

#home{
    grid-area: home;
    background-color: violet;
}